/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


body, .top-menu a {
    color: #0b447c !important;
}

.subcategories h5, h2 {
    color: #0b447c !important;
}

a.subcategory-name {
    color: #0b447c !important;
}

a.subcategory-name:hover {
    color: #2f84da !important;
}
