/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


body, .top-menu a {
    color: #0b447c !important;
    font-family: 'Ubuntu', sans-serif;
}

.h1, .h2, .h3, .h4, body, p, a {
    color: #0b447c !important;
}

a:hover {
    color: #2f84da !important;
}

#wrapper {
    color: white;
}

/* Header */

div.header-top, .header-top .sub-menu {
    background-color: #0b447c !important;
}

.header-top a {
    color: white !important;
}

.header-top a:hover {
    color: #c7e1fc !important;
}

.header-nav {
    border: none;
}

.material-icons.search {
    color: white !important;
}

#search_widget form input {
    background-color: #0b447c;
    border: 2px solid white;
    color: white;
}

.ui-menu {
    background-color: #0b447c !important;
}

.ui-menu-item {
    background-color: #0b447c !important;
}

.ui-menu-item a {
    font-family: 'Ubuntu', sans-serif;
    color: white !important;
}

.ui-menu-item a:hover {
    background-color: #2f84da !important;
}

.material-icons.shopping-cart {
    color: #0b447c !important;
}

.header span {
    color: #0b447c !important;
}

/* Category and product list css */
.subcategories h5, h2 {
    color: #0b447c !important;
}

a.subcategory-name {
    color: #0b447c !important;
}

a.subcategory-name:hover{
    color: #2f84da !important;
}

.thumbnail-container {
    border: 1px solid lightgray;
}

.product-flag.discount {
    background-color: #840000 !important;
}

.product-flag.new {
    background-color: #0b447c !important;
}

/* shadow boxes */
#js-product-list-header {
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

div.block-categories {
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

#search_filters_wrapper {
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

